/**
* DASHBOARD WIDGET
*/
#advads_dashboard_widget a.rsswidget { font-weight: 400; }
#advads_dashboard_widget .rss-widget ul li { margin-bottom: 6px; }

/**
* OVERVIEW PAGE
*/

.advads-content-wrapper { display: table; width: 100%; }
.advads-content-left { display: table-cell; min-width: 500px; vertical-align: top; }
.advads-content-right { display: table-cell; width: 250px; padding: 0 0 0 20px; vertical-align: top; }

/**
* AD EDIT PAGE
*/
#ad-main-box { overflow: hidden; }
.post-type-advanced_ads #poststuff .meta-box-sortables .inside {
    margin: 0;
    padding: 0;
}
.post-type-advanced_ads .meta-box-sortables .inside > * {
    margin: 20px 10px;
}
.post-type-advanced_ads .meta-box-sortables .inside h4 {
    background: linear-gradient(to top, #ECECEC, #F9F9F9) repeat scroll 0 0 #F1F1F1;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 10px 10px 5px;
}
.post-type-advanced_ads #advads-ad-description p { font-style: italic; }
.post-type-advanced_ads #advads-ad-description textarea { display: none; width: 100%; height: 10em; }
#advanced-ad-type .description {
    display: block;
    margin-left: 24px;
}
.post-type-advanced_ads #advanced_ad_content_others textarea {
    width: 100%;
    height: 20em;
}

.post-type-advanced_ads #advanced-ad-conditions {
    text-align: left;
}
.post-type-advanced_ads h5 { font-size: 1.2em; margin: 1em 0 .5em; }
.post-type-advanced_ads #ad-display-box label { margin-right: 1em; }
.post-type-advanced_ads .advads-conditions-all { display: block; }
.post-type-advanced_ads .advads-conditions-single { margin-bottom: 10px; padding: 10px; }
.post-type-advanced_ads .advads-conditions-single.disabled { display: none; opacity: .5; }
.post-type-advanced_ads .advads-conditions-single th { vertical-align: top; }
.advads-conditions-postids-list li { background: #F1F1F1; padding: 3px; }
.advads-conditions-postids-list .remove { margin-right: 1em; font-size: .9em; }
.post-type-advanced_ads #advads-ad-content-plain {
    width: 100%;
}
.post-type-advanced_ads #ad-parameters-box .advads-ad-parameters-spinner { display: block; float: none; }
.post-type-advanced_ads #advanced-ads-ad-parameters-size { margin-top: 1em; }
.post-type-advanced_ads #advanced-ads-ad-parameters-size p { float: left; margin: 0 1em 0 0; font-weight: bold; }
.post-type-advanced_ads #advanced-ads-ad-parameters-size label + label { margin-left: 1em; }
.post-type-advanced_ads #advanced-ads-ad-parameters-size input { width: 4em; margin-left: .5em; }
.post-type-advanced_ads #advanced-ad-output .label { display: inline-block; width: 5em; font-weight: bold; }
.post-type-advanced_ads #advanced-ad-output-position { line-height: 60px; }
.post-type-advanced_ads #advanced-ad-output-position:after { content: ' '; clear: both; float: none; display: block;}
.post-type-advanced_ads #advanced-ad-output-position label + label { margin-left: 1em; }
.post-type-advanced_ads #advanced-ad-output-position img { border: 1px solid #ddd; padding: 2px; }
.post-type-advanced_ads #advanced-ad-output-margin input[type="number"] { width: 4em; }
.post-type-advanced_ads #advanced-ad-output-margin label + label { margin-left: 1em; }

.advads-debug-output legend { text-decoration: underline; cursor: pointer; }

/**
 AD GROUP LIST
*/
.advads-groups-ads-list { margin: 0; }
.ad-group-ads-form table td { margin: 0; padding: 3px 5px 3px 0; }
.ad-group-ads-form table td:first-child { font-weight: bold; }
.ad-group-ads-form table td.ad-group-ads-weight input { width: 3em; }

/**
 AD PLACEMENTS
*/
.advads-placements-new-form select { display: inline-block; min-width: 10em; }
.advads-placements-new-form label { display: inline-block; width: 10em; }
.advads-placements-new-form input { display: inline-block; }
.advads-placements-table { min-width: 80%; }
.advads-placements-table thead tr { background: #fff; }
.advads-placements-table tbody tr:nth-child(even) { background: #fff; }
.advads-placements-table th { margin: 0; padding: 10px; text-align: left; vertical-align: top; }
.advads-placements-table td { margin: 0; padding: 10px; text-align: left; vertical-align: top; }
.advads-placements-table-options { text-align: right; }
.advads-placement-options input, .advads-placement-options select { background: transparent; }
.advads-placements-table-options input[type="number"] { width: 3em; }

/**
 GENERAL ELEMENTS
*/
.advads-toggle-link { cursor: pointer; }
.advads-content-half { float: left; margin-right: 5%; width: 45%; min-width: 300px; }
.advads-box { margin-bottom: 20px; padding: 10px; background: #fff; border: solid 1px; }