/**
* DASHBOARD WIDGET
*/
#advads_dashboard_widget h4 { margin-top: .5em; }
#advads_dashboard_widget a.rsswidget { font-weight: 400; }
#advads_dashboard_widget .rss-widget ul li { margin-bottom: 6px; }

/**
* OVERVIEW PAGE
*/
.toplevel_page_advanced-ads #dashboard-widgets .postbox-container { width: 100% !important; }
.toplevel_page_advanced-ads #dashboard-widgets .postbox-container .postbox { float: left; width: 24%; min-width: 310px; }
.toplevel_page_advanced-ads #dashboard-widgets .postbox-container .postbox + .postbox { margin-left: 1%; }
.toplevel_page_advanced-ads #dashboard-widgets .postbox-container .postbox ul.list { list-style: inside; }
.toplevel_page_advanced-ads .metabox-holder .postbox-container .empty-container { display: none; }

/**
* AD EDIT PAGE
*/
#ad-main-box { overflow: hidden; }
.post-type-advanced_ads #poststuff .meta-box-sortables .inside {
	margin: 0;
	padding: 0;
}
.post-type-advanced_ads .meta-box-sortables .inside > * {
	margin: 20px 10px;
}
.post-type-advanced_ads .meta-box-sortables .inside h4 {
	background: linear-gradient(to top, #ECECEC, #F9F9F9) repeat scroll 0 0 #F1F1F1;
	font-size: 15px;
	font-weight: 400;
	line-height: 1;
	margin: 0;
	padding: 10px 10px 5px;
}
.post-type-advanced_ads #advads-ad-description p { font-style: italic; }
.post-type-advanced_ads #advads-ad-description textarea { display: none; width: 100%; height: 10em; }
#advanced-ad-type .description {
	display: block;
	margin-left: 24px;
}
.post-type-advanced_ads #advanced_ad_content_others textarea {
	width: 100%;
	height: 20em;
}

.post-type-advanced_ads #advanced-ad-conditions {
	text-align: left;
}
.post-type-advanced_ads h5 { font-size: 1.2em; margin: 1em 0 .5em; }
.post-type-advanced_ads #ad-display-box label { margin-right: 1em; }
.post-type-advanced_ads #ad-display-box td, .post-type-advanced_ads #ad-display-box th { padding-right: 10px; }
.post-type-advanced_ads #ad-display-box .advanced-ads-display-condition-set label { float: left; margin-right: -1px; }
.post-type-advanced_ads #ad-display-box .ui-widget { font-size: inherit; }
.post-type-advanced_ads .advads-conditions-all { display: block; }
.post-type-advanced_ads .advads-conditions-single { margin-bottom: 10px; padding: 10px; }
.post-type-advanced_ads .advads-conditions-single.disabled { display: none; opacity: .5; }
.post-type-advanced_ads .advads-conditions-single th { vertical-align: top; }
.advads-conditions-postids-list li { background: #F1F1F1; padding: 3px; }
.advads-conditions-postids-list .remove { margin-right: 1em; font-size: .9em; }

.post-type-advanced_ads #advads-ad-content-plain { width: 100%; }
.post-type-advanced_ads #ad-display-box .advads-conditions-terms-buttons { display: inline-block; }
.post-type-advanced_ads #ad-display-box .advads-conditions-terms-buttons label,
.post-type-advanced_ads #ad-display-box .advads-conditions-terms-buttons .button { margin: 0 -1px .3em 0; padding: 0 .5em; background: #f7f7f7; height: 22px; line-height: 22px; color: #555; border: 1px solid #ccc; border-radius: 0; font-family: inherit; }
.post-type-advanced_ads #ad-display-box .advads-conditions-terms-buttons label span { margin: 0; padding: 0; line-height: 22px; }

.advads-buttonset label span { margin: 0; padding: 0; }

.advads-buttonset .ui-state-active,
.advads-buttonset .button,
.advads-buttonset .ui-button.ui-state-active { border-color: #0074a2; background: #2ea2cc; color: #fff; box-shadow: none; }

#ad-display-box .advads-conditions-terms-show-search { height: 22px; line-height: 22px; font-weight: bold; font-size: 1.5em; }
.advads-conditions-terms-show-search + .description { display: none; }
.advads-conditions-terms-show-search:hover + .description { display: inline-block; margin-left: .5em;  color: #666; }
.advads-conditions-terms-search { display: none; }
.post-type-advanced_ads #ad-parameters-box .advads-ad-parameters-spinner { display: block; float: none; }
.post-type-advanced_ads #advanced-ads-ad-parameters-size { margin-top: 1em; }
.post-type-advanced_ads #advanced-ads-ad-parameters-size p { float: left; margin: 0 1em 0 0; font-weight: bold; }
.post-type-advanced_ads #advanced-ads-ad-parameters-size label + label { margin-left: 1em; }
.post-type-advanced_ads #advanced-ads-ad-parameters-size input { width: 4em; margin-left: .5em; }
.post-type-advanced_ads #advanced-ad-output .label { display: inline-block; width: 5em; font-weight: bold; }
.post-type-advanced_ads #advanced-ad-output-position { line-height: 60px; }
.post-type-advanced_ads #advanced-ad-output-position:after { content: ' '; clear: both; float: none; display: block;}
.post-type-advanced_ads #advanced-ad-output-position label + label { margin-left: 1em; }
.post-type-advanced_ads #advanced-ad-output-position img { border: 1px solid #ddd; padding: 2px; }
.post-type-advanced_ads #advanced-ad-output-margin input[type="number"] { width: 4em; }
.post-type-advanced_ads #advanced-ad-output-margin label + label { margin-left: 1em; }

.advads-debug-output legend { text-decoration: underline; cursor: pointer; }

#advads-visitor-conditions select,
#advads-visitor-conditions input { margin: 0; padding: 3px; }
#advads-visitor-conditions label { float: left; }
#advads-visitor-conditions select { margin-left: 1em; }
#advads-visitor-conditions tbody tr:first-child { display: none; }
#advads-visitor-conditions td { padding: 0 5px; position: relative; top: 0; left: 0; }
#advads-visitor-conditions td hr { float: right; width: 80%;}
#advads-visitor-conditions td.advads-visitor-conditions-operator-or > hr { display: none; }
#advads-visitor-conditions-new .advads-buttonset label { text-transform: uppercase; }
#advads-visitor-conditions-new .advads-buttonset { float: left; }

/**
 AD GROUP LIST
*/
#advads-ad-group-list .row-actions span + span::before { content: '|'; padding: 0 3px; }
#advads-ad-group-list ul, #advads-ad-group-list ol { margin: 0; list-style-position: inside; }
#advads-ad-group-list tbody tr:nth-child(4n+1) { background: #f9f9f9; }
.advads-ad-group-list-ads li { margin: 0; padding: 3px 0; }
.advads-ad-group-list-ads li:hover { background: #eee; }
.advads-ad-group-list-ads i { margin-left: 1em; font-style: italic; }
.advads-ad-group-list-ads span { float: right; }
.advads-group-row .row-actions a { cursor: pointer; }
.advads-group-row .advads-usage { margin-top: 1em; }
.advads-group-row code { background: none; }
.advads-ad-group-form > td { border-bottom: 1px solid; }
.advads-ad-group-form label { display: inline-block; margin-bottom: 1em; }
.advads-ad-group-form strong { float: left; width: 180px; }
.advads-ad-group-form ul { float: left; }

/**
 AD PLACEMENTS
*/
.advads-placements-new-form select { display: inline-block; min-width: 10em; }
.advads-placements-new-form label { display: inline-block; width: 10em; }
.advads-placements-new-form input { display: inline-block; }
.advads-placements-table { min-width: 80%; border-collapse: collapse; background: #fff; }
.advads-placements-table tbody tr:nth-child(4n+1) { background: none repeat scroll 0 0 #f9f9f9; }
.advads-placements-table tbody tr { border-top: 1px solid #f1f1f1; }
.advads-placements-table th { margin: 0; padding: 10px; text-align: left; vertical-align: top; }
.advads-placements-table.widefat tbody th { font-weight: bold; }
.advads-placements-table th span { font-weight: normal; }
.advads-placements-table td { margin: 0; padding: 10px; text-align: left; vertical-align: top; }
.advads-placements-table-options { text-align: right; }
.advads-placement-options input, .advads-placement-options select { background: transparent; }
.advads-placements-table-options input[type="number"] { width: 3em; }

/**
 GENERAL ELEMENTS
*/
.advads-toggle-link { cursor: pointer; }
.advads-content-half { float: left; margin-right: 5%; width: 45%; min-width: 300px; }
.advads-box { margin-bottom: 20px; padding: 10px; background: #fff; border: solid 1px; }
.on-hover { display: none; }
tr:hover .on-hover { display: block; }
.advads-admin-notice .button-primary { margin-left: 1em; }
.advads-admin-notice-inline { padding: 1px 12px; border: 1px solid #0074a2; border-left-width: 4px; }
.advads-admin-notice-inline p { margin: 0.5em 0; padding: 2px; }
.advads-spinner { float: none; visibility: visible; }

/**
- GOOGLE ADSENSE MODULE
-*/
#pastecode-div { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.65); z-index: 250000; }
#pastecode-container { width: 480px; margin: 85px auto 0 auto; background-color: #fff; padding: 2%; overflow-x : scroll; overflow-y : scroll; border: 5px solid #dcdcdc; border-radius: 5px; }
#adsense-ad-param-error { color: red; font-weight: bold; }

/**
- TABS
-*/
.advads-tab { display: none; }
.advads-tab.active { display: block; }
